llm-service/venv/
**/.DS_Store
.idea
*.env
.vscode# OS
.DS_Store
Thumbs.db


# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage*
.mypy_cache/

# Env / secrets
.env
docker/secrets
# IDE
.vscode/
.idea/

# Caches and large local data
Qdrant/cache/
*.log
Qdrant/latex_books
ollama

# Notebooks and artifacts
*.ipynb
.ipynb_checkpoints/

# Build outputs
dist/
build/
.vscode
db_data
