services:
  llm-server:
    build:
      context: ..
      dockerfile: llm-service/Dockerfile
    ports: 
      - "8081:8081"

  # llm:
  # llm-db:
  
  core_server:
    build:
      context: ..
      dockerfile: server/cmd/Dockerfile
    ports: 
      - "8080:8080"
    

  # feedback-db:
  