qdrant-client==1.8.0
pylatexenc==2.10
tqdm>=4.66,<5.0
regex
pymorphy2==0.9.1
numpy>=1.24,<3
fastapi==0.110.0
uvicorn[standard]==0.29.0
requests>=2.31.0
orjson>=3.9.15
fastembed>=0.7.0
onnxruntime>=1.19.0
